*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

#body {
	background-color: #255326;
	height: 100dvh;
	width: 100dvw;
}

.barra-horizontal {	
	height: 4rem;
	width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
	flex-direction: row;
}

.link-container {
	width: 100%;
}

.link-container > a {
	display: block;
	color: white;
	margin: 0 0.5rem;
	text-align: center;
	text-decoration: none;
	width: 10rem;
	height: 100%;
	align-content: center;
}

#home-lnk-container {}

#slots-lnk-container {
	direction: rtl;
}

.link-container > a:hover {
	border: 1px solid white;
	border-radius: 5px;
	width: 10rem;
	height: 100%;
    color: white;
}

#slot-container {
	border-radius: 8px;
	background-color: #894124;
	opacity: 0.8;
	background-image: radial-gradient(circle at center center, #c4bc03, #894124), repeating-radial-gradient(circle at center center, #c4bc03, #c4bc03, 10px, transparent 20px, transparent 10px);
	background-blend-mode: multiply;
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 30%;
	margin: 4rem auto;
}

#slot-machine{
	height: 60%;
	width: 70%;
	background-color: #333;
	display: flex;
	margin: 2rem auto;
	justify-content: space-around;
	border-bottom: 10px rgb(46, 45, 45) solid;
} 
  
#reel1, #reel2, #reel3 {
	height: 100%;
	box-shadow: inset #161616 0px 10px 10px;
	width: 11rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-self: center;
	animation: glowing 0.5s infinite;
}

.reel-box{
	margin: 5px;
	height: 64px;
	width: 64px;
}

.reel-box > img{
	height: 64px;
	width: 64px;	
}

  
.symbol {
	width: 4rem;
	height: 4rem;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image{
	background-color: unset;
	width: 64px;
	height: 64px;
}

#spin-button {
	margin: 2rem 60%;
	height: 4rem;
	width: 10rem;
	background-color: #c42626;
	border-bottom: 5px rgb(46, 45, 45) solid;
	border-radius: 10px;
	cursor: pointer;

}

#spin-button:hover {
	background-color: #f01b1b;
}

.win-message {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background-color: #4CAF50;
	padding: 10px;
	border-radius: 5px;
	display: none;
}


/*Animación para a pantalla da tragaperras*/
@keyframes glowing {
	from{
		background-color: #fff;
	}to {
		background-color: #dddddd;
	}
}