*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
	/*border: 1px solid red;*/
}

@font-face {
    font-family: "Pixeloid";
    src: url(../assets/fonts/PixeloidSans-mLxMm.ttf) format("truetype");
}

body{
	background: rgba(5, 74, 43, 0.904)
    radial-gradient(rgba(180, 180, 180, 0.499) 10%, transparent 1%);
	background-size: 30px 30px;
	background-position: -5px -5px;
	height: 100dvh;
	width: 100dvw;
	display: grid;
	grid-template: 
	"nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
	"scores scores . slots slots ."
	"scores scores . slots slots ."
	"scores scores . slots slots ."
	"scores scores . slots slots .";
}

/*---------------------------------------------------------------------------*/
/*------------------------------HEADER---------------------------------------*/
/*---------------------------------------------------------------------------*/


header {	
	height: 4.5rem;
	width: 100%;
	font-size: large;
    background-color: #333;
	border: 1px solid rgb(87, 87, 87);
    display: flex;
    justify-content: space-around;
	flex-direction: row;
	grid-area: nav-bar;
}

.link-container {
	width: 100%;
}

.link-container > a {
	display: block;
	color: white;
	margin: 0.2rem 0.5rem;
	text-align: center;
	text-decoration: none;
	width: 10rem;
	height: 90%;
	align-content: center;
}

#home-lnk-container {}

#slots-lnk-container {
	direction: rtl;
}

.link-container > a:hover {
	background-color: rgb(87, 87, 87);
	border-radius: 5px;
	width: 10rem;
	height: 90%;
    color: rgb(255, 203, 32);
}


/*---------------------------------------------------------------------------*/
/*-------------------------------SLOTS---------------------------------------*/
/*---------------------------------------------------------------------------*/


#slot-container {
	grid-area: slots;
	border-radius: 8px;
	background-color: #894124;
	background-image: radial-gradient(circle at center center, #c4bc03, #894124), repeating-radial-gradient(circle at center center, #c4bc03, #c4bc03, 10px, transparent 20px, transparent 10px);
	background-blend-mode: multiply;
	display: flex;
	flex-direction: column;
	height: 90%;
	margin: auto;
}

#slot-machine{
	height: 60%;
	width: 80%;
	background-color: #333;
	display: flex;
	margin: 2rem auto;
	justify-content: space-around;
	border-bottom: 10px rgb(46, 45, 45) solid;
	overflow: hidden;
} 
  
#reel1, #reel2, #reel3 {
	height: 100%;
	box-shadow: inset #161616 0px 10px 10px;
	width: 11rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-self: center;
	animation: glowing 0.5s infinite;
	z-index: 0.5;
}

.reel-box{
	margin: 5px;
	height: 64px;
	width: 64px;
	
}

.reel-box > img{
	height: 64px;
	width: 64px;
}
  
.symbol {
	width: 4rem;
	height: 4rem;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#reel1 > .cell > .symbol {
	z-index: -1;
	animation: spinning-reel 0.2s linear reverse;	
}

#reel2 > .cell > .symbol {
	z-index: -1;
	animation: spinning-reel 0.2s linear ;	
}

#reel3 > .cell > .symbol {
	z-index: -1;
	animation: spinning-reel 0.3s linear reverse;	
}

.image{
	background-color: unset;
	width: 64px;
	height: 64px;
}

#spin-button {
	font-size: 16px;
	font-family: Pixeloid;
	color: #fff822;
	margin: 2rem 60%;
	height: 4rem;
	width: 10rem;
	background-color: #490f0f;
	border-bottom: 5px rgb(46, 45, 45) solid;
	border-radius: 0.3em;
	cursor: pointer;
	padding: 0.1em;
	height: 4.2em;
	border: 0.08em solid #2c0000;
}

#spin-button > span {
	background-color: #f01b1b;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0.4em;
	width: 9.6rem;
	height: 3.5em;
	border-radius: 0.2em;
	border: 0.08em solid #2c0000;
	box-shadow: 0 0.4em 0.1em 0.019em #2c0000;
}

#spin-button>span:hover {
	transition: all 0.5s;
	transform: translate(0, 0.4em);
	box-shadow: 0 0 0 0 #2c0000;
	background-color: #f01b1b;
}

#state-message-container{
	height: 4rem;
	background-color: #1a1a1a;
	margin: 1rem auto;
	padding-bottom: 2rem;
	width: 90%;
	overflow: hidden;
}

#win-message {
	height: 3rem;
	width: 8rem;
	margin: 1rem 0;
	font-size: 32px;
	font-family: Pixeloid;
	font-weight: bold;
	text-align: center;
	color: goldenrod;
	animation: label-start 6s linear forwards infinite,
		blink 0.8s infinite,
		label-end 6s linear forwards infinite;
}

/*---------------------------------------------------------------------------*/
/*----------------------------SCOREBOARD-------------------------------------*/
/*---------------------------------------------------------------------------*/

#scoreboard{
    background-color: rgba(87, 84, 84, 0.5);
	grid-area: scores;
	height: 90vh;
	border: 2px solid rgb(87, 87, 87);
	margin: 0 auto;
	width: 100%;
}

#user-score{
	margin: 1rem auto;
	display: flex;
	flex-direction: row;
	height: 2rem;
	color: white;
	text-align: center;
	font-size: x-large;
	width: 100%;
	justify-content: center;
}

#score-label{
	margin-right: 15px;
}

#score{
	color: rgb(255, 203, 32);

	font-size: x-large;
	text-align: right;
	height: 95%;
	background-color: unset;
	border-radius: 5px;
}

#point{
	color: rgb(255, 203, 32);
}

/*Válido só para Firefox e similares*/
#score::-moz-placeholder{
	color: rgb(255, 203, 32);
	opacity: 1;
}

/*Válido só para Chromium e similares*/
#score::-webkit-input-placeholder{
	color: rgb(255, 203, 32);
	opacity: 1;
}

#conditions-p{
	text-align: center;
	font-size: x-large;
	color: white;
}

.scoreboard-row{
	display: flex;
	margin: 0.5em auto;
	height: 3.7rem;
	width: 80%;
	flex-direction: row;
	justify-content: space-between;
}

.scoreboard-icon{
	background-color: #dddddd;
	height: 100%;
	width: 48px;
}

.points {
	color: rgb(255, 255, 255);
	background-color: unset;
	padding-right: 1em;
	text-align: right;
	width: min-content;
	font-size: x-large;
	border-radius: 5px;
}

.points::-webkit-input-placeholder {
	color: rgb(255, 255, 255);
	opacity: 1;
}

.points::-moz-placeholder {
	color: rgb(255, 255, 255);
	opacity: 1;
}

/*---------------------------------------------------------------------------*/
/*----------------------------ANIMATIONS-------------------------------------*/
/*---------------------------------------------------------------------------*/

/*Animación para a pantalla da tragaperras*/
@keyframes glowing {
	from{
		background-color: #fff;
	}to {
		background-color: #dddddd;
	}
}

/*Animación dos carretes*/
@keyframes spinning-reel {
	from{
		transform: translateY(-600px);
	}
}

@keyframes label-start {
	0%{
		transform: translateX(-200%);	
	}
	100%{
		transform: translateX(400%);
	}
}

@keyframes label-end {
	0%{
		transform: translateX(-400%);	
	}
	100%{
		transform: translateX(-200%);
	}
}

@keyframes blink {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/*---------------------------------------------------------------------------*/
/*-------------------------NOSCRIPT STYLES-----------------------------------*/
/*---------------------------------------------------------------------------*/

#noscript-container {
	background-color: #1616169f;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	position: absolute;

}

#ns-content {
	padding: 5rem;
	justify-content: space-around;
	display: flex;
	position: absolute;
	height: 20rem;
	width: 30rem;
	top: 35%;
	left: 40%;
	background-color: white;
	border-radius: 10px;
	flex-direction: row;
}

#no-javascript{
	margin: auto;
	height: 8rem;
	width: 8rem;
}

#ns-text-container{
	margin: auto;
	text-align: center;
}

/*---------------------------------------------------------------------------*/
/*----------------------------RESPONSIVE-------------------------------------*/
/*---------------------------------------------------------------------------*/

/*Pantalla de móvil pequena*/
@media only screen and (max-width: 368) and (max-height: 568px) {

	body{
		background: rgba(5, 74, 43, 0.904)
		radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
		background-size: 30px 30px;
		background-position: -5px -5px;
		height: 100vh;
		width: 100vw;
		display: grid;
		grid-template: 
		"nav-bar nav-bar nav-bar"
		". scores ."
		". scores ."
		". slots ."
		". slots .";
	}

	/*---------------------------------------------------------------------------*/
	/*------------------------------HEADER---------------------------------------*/
	/*---------------------------------------------------------------------------*/

	header {	
		height: 10vh;
		width: 100vw;
		background-color: #333;
		border: 1px solid rgb(87, 87, 87);
		display: flex;
		flex-direction: row;
		grid-area: nav-bar;
	}

	.link-container > a {
		display: block;
		color: white;
		margin: 0.2rem 0.5rem;
		text-align: center;
		text-decoration: none;
		width: 40%;
		height: 90%;
		align-content: center;
	}

	#home-lnk-container {
		direction: rtl;
	}

	#slots-lnk-container {
		direction: ltr;
	}

	.link-container > a:hover {
		background-color: rgb(87, 87, 87);
		border-radius: 5px;
		width: 40%;
		height: 90%;
		color: rgb(255, 203, 32);
}

	/*---------------------------------------------------------------------------*/
	/*----------------------------SCOREBOARD-------------------------------------*/
	/*---------------------------------------------------------------------------*/

	#scoreboard{
		background-color: #333;
		grid-area: scores;
		border: 2px solid rgb(87, 87, 87);
		width: 90vw;
	}

	#user-score{
		display: flex;
		flex-direction: row;
		color: white;
		text-align: center;
		font-size: x-large;
		width: 100%;
		justify-content: center;
	}

	#score-label{
		margin-right: 15px;
	}

	#score{
		color: rgb(255, 203, 32);
		font-size: x-large;
		text-align: right;
		height: 95%;
		background-color: unset;
		border-radius: 5px;
	}

	/*Válido só para Firefox e similares*/
	#score::-moz-placeholder{
		color: rgb(255, 203, 32);
		opacity: 1;
	}

	/*Válido só para Chromium e similares*/
	#score::-webkit-input-placeholder{
		color: rgb(255, 203, 32);
		opacity: 1;
	}

	#conditions-p{
		text-align: center;
		font-size: x-large;
		color: white;
	}

	.scoreboard-row{
		display: flex;
		margin: 0.5em auto;
		height: 3.7rem;
		width: 80%;
		flex-direction: row;
		justify-content: space-between;
	}

	.scoreboard-icon{
		background-color: #dddddd;
		height: 100%;
		width: 48px;
	}

	.points {
		color: rgb(255, 255, 255);
		background-color: unset;
		padding-right: 1em;
		text-align: right;
		width: min-content;
		font-size: x-large;
		border-radius: 5px;
	}

	.points::-webkit-input-placeholder {
		color: rgb(255, 255, 255);
		opacity: 1;
	}

	.points::-moz-placeholder {
		color: rgb(255, 255, 255);
		opacity: 1;
	}

	/*---------------------------------------------------------------------------*/
	/*-------------------------NOSCRIPT STYLES-----------------------------------*/
	/*---------------------------------------------------------------------------*/

	#noscript-container {
		background-color: #1616169f;
		height: 100%;
		width: 100%;
		z-index: 0;
		position: absolute;

	}

	#ns-content {
		padding: 3rem;
		justify-content: space-around;
		display: flex;
		position: absolute;
		height: 40%;
		width: 80%;
		top: 35%;
		left: 10%;
		background-color: white;
		border-radius: 10px;
		flex-direction: column;
	}

	#no-javascript{
		margin: auto;
		height: 8rem;
		width: 8rem;
	}

	#ns-text-container{
		margin: auto;
		text-align: center;
	}


}

/*Pantalla de móvil ancha*/
@media only screen and (max-width: 768px) {

	body{
		background: rgba(5, 74, 43, 0.904)
		radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
		background-size: 30px 30px;
		background-position: -5px -5px;
		height: 100vh;
		width: 100vw;
		display: grid;
		grid-template: 
		"nav-bar nav-bar nav-bar"
		". scores ."
		". scores ."
		". slots ."
		". slots .";
	}

/*---------------------------------------------------------------------------*/
/*------------------------------HEADER---------------------------------------*/
/*---------------------------------------------------------------------------*/

	header {	
		height: 10vh;
		width: 100vw;
		background-color: #333;
		border: 1px solid rgb(87, 87, 87);
		display: flex;
		flex-direction: row;
		grid-area: nav-bar;
	}

	.link-container > a {
		display: block;
		color: white;
		margin: 0.2rem 0.5rem;
		text-align: center;
		text-decoration: none;
		width: 40%;
		height: 90%;
		align-content: center;
	}

	#home-lnk-container {
		direction: rtl;
	}

	#slots-lnk-container {
		direction: ltr;
	}

	.link-container > a:hover {
		background-color: rgb(87, 87, 87);
		border-radius: 5px;
		width: 40%;
		height: 90%;
		color: rgb(255, 203, 32);
}

	/*---------------------------------------------------------------------------*/
	/*----------------------------SCOREBOARD-------------------------------------*/
	/*---------------------------------------------------------------------------*/

	#scoreboard{
		background-color: #333;
		grid-area: scores;
		border: 2px solid rgb(87, 87, 87);
		width: 90vw;
	}

	#user-score{
		display: flex;
		flex-direction: row;
		color: white;
		text-align: center;
		font-size: x-large;
		width: 100%;
		justify-content: center;
	}

	#score-label{
		margin-right: 15px;
	}

	#score{
		color: rgb(255, 203, 32);
		font-size: x-large;
		text-align: right;
		height: 95%;
		background-color: unset;
		border-radius: 5px;
	}

	/*Válido só para Firefox e similares*/
	#score::-moz-placeholder{
		color: rgb(255, 203, 32);
		opacity: 1;
	}

	/*Válido só para Chromium e similares*/
	#score::-webkit-input-placeholder{
		color: rgb(255, 203, 32);
		opacity: 1;
	}

	#conditions-p{
		text-align: center;
		font-size: x-large;
		color: white;
	}

	.scoreboard-row{
		display: flex;
		margin: 0.5em auto;
		height: 3.7rem;
		width: 80%;
		flex-direction: row;
		justify-content: space-between;
	}

	.scoreboard-icon{
		background-color: #dddddd;
		height: 100%;
		width: 48px;
	}

	.points {
		color: rgb(255, 255, 255);
		background-color: unset;
		padding-right: 1em;
		text-align: right;
		width: min-content;
		font-size: x-large;
		border-radius: 5px;
	}

	.points::-webkit-input-placeholder {
		color: rgb(255, 255, 255);
		opacity: 1;
	}

	.points::-moz-placeholder {
		color: rgb(255, 255, 255);
		opacity: 1;
	}

	/*---------------------------------------------------------------------------*/
	/*-------------------------NOSCRIPT STYLES-----------------------------------*/
	/*---------------------------------------------------------------------------*/

	#noscript-container {
		background-color: #1616169f;
		height: 100%;
		width: 100%;
		z-index: 0;
		position: absolute;

	}

	#ns-content {
		padding: 3rem;
		justify-content: space-around;
		display: flex;
		position: absolute;
		height: 40%;
		width: 80%;
		top: 35%;
		left: 10%;
		background-color: white;
		border-radius: 10px;
		flex-direction: column;
	}

	#no-javascript{
		margin: auto;
		height: 8rem;
		width: 8rem;
	}

	#ns-text-container{
		margin: auto;
		text-align: center;
	}


}
