*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
	/*border: 1px solid red;*/
}

body{
	background: rgba(5, 74, 43, 0.904)
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
	background-size: 30px 30px;
	background-position: -5px -5px;
	height: 100dvh;
	width: 100dvw;
	display: grid;
	grid-template: 
	"nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
	"scores scores . slots slots ."
	"scores scores . slots slots ."
	"scores scores . slots slots ."
	"scores scores . slots slots .";
}

/*---------------------------------------------------------------------------*/
/*------------------------------HEADER---------------------------------------*/
/*---------------------------------------------------------------------------*/


header {	
	height: 4rem;
	width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
	flex-direction: row;
	grid-area: nav-bar;
}

.link-container {
	width: 100%;
}

.link-container > a {
	display: block;
	color: white;
	margin: 0 0.5rem;
	text-align: center;
	text-decoration: none;
	width: 10rem;
	height: 100%;
	align-content: center;
}

#home-lnk-container {}

#slots-lnk-container {
	direction: rtl;
}

.link-container > a:hover {
	border: 1px solid white;
	border-radius: 5px;
	width: 10rem;
	height: 100%;
    color: white;
}


/*---------------------------------------------------------------------------*/
/*-------------------------------SLOTS---------------------------------------*/
/*---------------------------------------------------------------------------*/


#slot-container {
	grid-area: slots;
	border-radius: 8px;
	background-color: #894124;
	background-image: radial-gradient(circle at center center, #c4bc03, #894124), repeating-radial-gradient(circle at center center, #c4bc03, #c4bc03, 10px, transparent 20px, transparent 10px);
	background-blend-mode: multiply;
	display: flex;
	flex-direction: column;
	height: 90%;
	margin: auto;
}

#slot-machine{
	height: 60%;
	width: 70%;
	background-color: #333;
	display: flex;
	margin: 2rem auto;
	justify-content: space-around;
	border-bottom: 10px rgb(46, 45, 45) solid;
	overflow: hidden;
} 
  
#reel1, #reel2, #reel3 {
	height: 100%;
	box-shadow: inset #161616 0px 10px 10px;
	width: 11rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-self: center;
	animation: glowing 0.5s infinite;
	z-index: 1;
}

.reel-box{
	margin: 5px;
	height: 64px;
	width: 64px;
	
}

.reel-box > img{
	height: 64px;
	width: 64px;
}
  
.symbol {
	width: 4rem;
	height: 4rem;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}


#reel1 > .cell > .symbol {
	z-index: -1;
	animation: spinning-reel 0.2s linear reverse;	
}

#reel2 > .cell > .symbol {
	z-index: -1;
	animation: spinning-reel 0.2s linear ;	
}

#reel3 > .cell > .symbol {
	z-index: -1;
	animation: spinning-reel 0.3s linear reverse;	
}


.image{
	background-color: unset;
	width: 64px;
	height: 64px;
}

#spin-button {
	margin: 2rem 60%;
	height: 4rem;
	width: 10rem;
	background-color: #c42626;
	border-bottom: 5px rgb(46, 45, 45) solid;
	border-radius: 10px;
	cursor: pointer;

}

#spin-button:hover {
	background-color: #f01b1b;
}

#win-message {
	margin: 1rem;
	font-size: 24px;
	font-weight: bold;
	color: #3ab600;
	background-color: #1a1a1a;
	padding: 10px;
	border-radius: 5px;
	display: none;
	animation: board 10s infinite;
}

/*---------------------------------------------------------------------------*/
/*----------------------------SCOREBOARD-------------------------------------*/
/*---------------------------------------------------------------------------*/

#scoreboard{
	background-color: #333;
	grid-area: scores;
	height: 100%;
	border: 3px solid white;
	border-radius: 0 10px 10px 0 ;
	margin: 0 auto;
	width: 100%;
}

#user-score{
	margin: 1rem auto;
	display: flex;
	flex-direction: row;
	height: 2rem;
	color: white;
	text-align: center;
	font-size: x-large;
	width: 100%;
	justify-content: center;
}

#score-label{
	margin-right: 15px;
}

#score{
	color: rgb(255, 255, 255);
	font-size: x-large;
	text-align: right;
	height: 95%;
	background-color: unset;
	border-radius: 5px;
}

#score::-webkit-input-placeholder {
	color: rgb(255, 255, 255);
	opacity: 1;
}

#conditions-p{
	text-align: center;
	font-size: x-large;
	color: white;
}

.scoreboard-row{
	display: flex;
	margin: 0.5em auto;
	height: 3.7rem;
	width: 80%;
	flex-direction: row;
	justify-content: space-between;
}

.scoreboard-icon{
	background-color: #dddddd;
	height: 100%;
	width: 48px;
}

.points {
	color: rgb(255, 255, 255);
	background-color: unset;
	padding-right: 1em;
	text-align: right;
	width: min-content;
	font-size: x-large;
	border-radius: 5px;
}

.points::-webkit-input-placeholder {
	color: rgb(255, 255, 255);
	opacity: 1;
}

/*---------------------------------------------------------------------------*/
/*----------------------------ANIMATIONS-------------------------------------*/
/*---------------------------------------------------------------------------*/

/*Animación para a pantalla da tragaperras*/
@keyframes glowing {
	from{
		background-color: #fff;
	}to {
		background-color: #dddddd;
	}
}

/*Animación dos carretes*/
@keyframes spinning-reel {
	from{
		transform: translateY(-600px);
	}
}

@keyframes board {
	from{
		transform: translateX(-1000px);
	}
}

/*---------------------------------------------------------------------------*/
/*-------------------------NOSCRIPT STYLES-----------------------------------*/
/*---------------------------------------------------------------------------*/

#noscript-container {
	background-color: #1616169f;
	height: 100vh;
	width: 100vw;
	z-index: 0;
	position: absolute;

}

#ns-content {
	padding: 5rem;
	justify-content: space-around;
	display: flex;
	position: absolute;
	height: 20rem;
	width: 30rem;
	top: 35%;
	left: 40%;
	background-color: white;
	border-radius: 10px;
	flex-direction: row;
}

#no-javascript{
	margin: auto;
	height: 8rem;
	width: 8rem;
}

#ns-text-container{
	margin: auto;
	text-align: center;
}

/*---------------------------------------------------------------------------*/
/*----------------------------RESPONSIVE-------------------------------------*/
/*---------------------------------------------------------------------------*/

